
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
out/
bin/
hs_err_pid*

.gradle
build/
!gradle-wrapper.jar

**/build/

**/node_modules/
**/.angular/
/angular/dist
/privactivity-jmh/src/jmh/generated

**/.DS_Store
